{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poor+Story&display=swap" rel="stylesheet">
    <title>CRISTIAN DAVID</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navula"> <a href="/"> INICIO </a> </li>
            <li class="navula"> <a href="/"> HABILIDADES </a> </li>
            <li class="navula"> <a href="/"> PROYECTOS </a> </li>
            <li class="navula"> <a href="/"> CONTACTO </a> </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <div class="red">
        <a href="https://www.linkedin.com/in/cristian21121/" target="_blank"> LinkedIn </a>
        <img src="{% static 'images/linkedinicon.png' %}" alt="" width="20em">
    </div>
    <div class="red">
        <a href="https://github.com/cristian21121" target="_blank"> GitHub </a>
        <img src="{% static 'images/github.png' %}" alt="" width="20em">
    </div>
</footer>
</html>